---
import { getCollection } from "astro:content"
import Layout from "../../layouts/Layout.astro"

export async function getStaticPaths() {
	const posts = await getCollection("posts")
	return posts.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Layout
	title=`${entry.data.title} - Berzan`
	description={entry.data.description}
	keywords={entry.data.keywords}
>
	<h1>{entry.data.title}</h1>
	<p>{entry.data.description}</p>
	<Content />
</Layout>
