---
interface Props {
	telegram: string
	linkedin: string
	github: string
	twitter: string
	email: string
}

const { telegram, linkedin, github, twitter, email } = Astro.props
---

<footer class="pb-14 pt-32 flex w-full justify-center px-4">
	<div class="gap-2 max-w-[65ch] w-full flex flex-col">
		<p class="font-semibold text-2xl">Contact Me</p>
		<div class="flex flex-col gap-1.5 underline text-cyan-400 font-medium">
			<a href={telegram} target="_blank">Telegram</a>
			<a href={linkedin} target="_blank">LinkedIn</a>
			<a href={github} target="_blank">GitHub</a>
			<a href={twitter} target="_blank">Twitter</a>
			<a href={email}>Email</a>
		</div>
	</div>
</footer>
