---
import "../styles/base.css"
import Html from "@/components/Html.astro"
import Head from "@/components/Head.astro"
import Body from "@/components/Body.astro"
import Header from "@/components/Header.astro"
import Main from "@/components/Main.astro"
import Footer from "@/components/Footer.astro"
import Article from "@/components/Article.astro"

interface Props {
	title: string
	description: string
	keywords: Array<string>
	url: string
	image: string
}

const { title, description, keywords, url, image } = Astro.props
---

<Html>
	<Head
		title={title}
		description={description}
		keywords={keywords}
		url={url}
		image={image}
	/>
	<Body>
		<Header />
		<Main>
			<Article>
				<slot />
			</Article>
		</Main>
		<Footer
			telegram="https://t.me/BerzanOrg"
			linkedin="https://www.linkedin.com/in/berzanorg"
			github="https://github.com/BerzanOrg"
			twitter="https://twitter.com/BerzanOrg"
			email="mailto:myself@berzan.org"
		/>
	</Body>
</Html>
